body {
  background: whitesmoke;

  display: grid;
  grid-template-columns: 1fr 500px 1fr;
  grid-template-rows: 1fr 500px 1fr;
}

body > div {
  /* border: 2px red solid; */
}

.top {
  grid-area: 1 / 1 / 2 / 4;
}
.bottom {
  grid-area: 3 / 1 / 4 / 4;
}

.center {
  background: #16161d;
  padding: 4px;
  border-radius: 20px;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.center > div {
  /* border: 2px red solid; */
  background: whitesmoke;
  margin: 8px;
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.center > div > img {
  /* border: 2px red solid; */

  width: 80%;
  height: 80%;
}
